[general]

disable_messaging=false

web_port=9000

db_host=url
db_name=name
db_user=user
db_password=pass

twilio_account_sid=0
twilio_auth_token=0

twilio_from_number_HPM=0
twilio_from_number_CCW=0

